@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
  background-color: white;
  font-family: "Oswald",sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  text-align: center;
}

#Fight{
  filter: blur(5px);
  transition:all 1s;

}
#Fight:hover{
    filter: blur(0px);
    transition:all 1s;

}


#undertext{
  font-size: 36px;
  text-align: center;
}
