@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  background-color: white;
  font-family: "Oswald",sans-serif;
}

h1 {
  text-align: center;
}

#Fight{
  filter: blur(5px);
  transition:all 1s;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  weight: auto\9;
  max-width: 70%;
}

#Fight:hover{
    filter: blur(0px);
    transition:all 1s;
}

#undertext{
  font-size: 36px;
  text-align: center;
}

#welcome {
    margin-left: 15%;
}
