@import url('https://fonts.googleapis.com/css?family=Oswald');
/* The font of all text in the body*/
body {
  background-color: white;
  font-family: "Oswald",sans-serif;
}
/*Everything in the same class of the button1*/
html, .body2{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Oswald",sans-serif;
}
/*The location of the button1*/
button {
  position: fixed;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}
/*Color of text and shape properties of button 1 */
button {
    background: none;
    color: 	#00FA9A;
    width: 60px;
    height: 60px;
    border: 1px solid #338033
    font-size: 6px;
    border-radius: 240px;
    transition: .6s;
    overflow: hidden;
}

#buttonMenu {
    background: none;
    color: 	#00FA9A;
    width: 60px;
    height: 60px;
    border: 1px solid #338033
    font-size: 6px;
    border-radius: 0px;
    transition: .6s;
    overflow: hidden;
}
/*Gets rid of outline box after click of button 1*/
button:focus {
    outline: none;
}
/*Properties of button 1 before hover*/
button:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255,.5);
  width: 50px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
}
/*Properties of button 1 after hover*/
button:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255,255,255,.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}
/*Events mouse hovers on button1*/
button:hover {
  background: 	#00FA9A;
  color: black;
  cursor: pointer;
}
/*Events before mouse hovers on button1*/
button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7s
}
/*Events after mouse hovers on button1*/
button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;
}

h1 {
  z-index: 1001;
  text-align: left;
  text-shadow: 2px 2px black
}

/*A large image that appears on the left side of the screen */
.Home-Front{
  z-index: 1000;
  position: fixed;
  text-align: left;
  bottom: 0;
  left: 0;
  margin-left: 0%;
  margin-right: auto;
}

/*Text that appears at the top of the HomeFront Image */
.NycellyStudios{
  position: fixed;
  top: 8px;
  left: 16px;
  font-size: 36px;
  color: Black;
}

/*Text that appears at the bottom of the HomeFront Image */
.By-Donovan{
  position: fixed;
  bottom: 0;
  left: 16px;
  font-size: 18px;
  color: Black;
}
/* The text that appears in the middle of the Screen*/
.Indie{
  z-index: 1000;
  position: fixed;
  text-align: center;
  bottom: 50%;
  margin-left: 50%;
  margin-right: 20%;
  font-size: 80px;
  Color: White;
  text-decoration: underline;
  text-decoration-color: 	#00FA9A;
}


.video-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    max-width: auto;
}

/*The video that appears in the background*/
#Fight{
  position: fixed;
  top: 0%;
  filter: blur(10px);
  transition:all 1s;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100%;
  width: 100%;
  width: auto\9;
  max-width: 100%;
  z-index: 0;
}
/*Un-blurs the video once the mouse hovers over it*/
#Fight:hover{
    filter: blur(0px);
    transition:all 1s;
}
/*Have a menu pop out when activated*/
#flyoutMenu {
  z-index: 1002;
  position: fixed;
  width: 430px;
  height: 100vw;
  top: 0;

  margin-left: 27%;
  background-color: #00FA9A;

  transform: translate3d(100vw, 0, 0);

  transition: transform 1s cubic-bezier(0, .52, 0, 1);
  overflow: hidden;
}

#flyoutMenu2 {
  z-index: 1002;
  position: fixed;
  width: 430px;
  height: 100vw;
  top: 0;

  margin-left: 51%;
  background-color: orange;

  transform: translate3d(100vw, 0, 0);

  transition: transform 1s cubic-bezier(0, .52, 0, 1);
  overflow: hidden;
}

#flyoutMenu3 {
  z-index: 1002;
  position: fixed;
  width: 430px;
  height: 100vw;
  top: 0;

  margin-left: 76%;
  background-color: red;

  transform: translate3d(100vw, 0, 0);

  transition: transform 1s cubic-bezier(0, .52, 0, 1);
  overflow: hidden;
}
/*the show variable makes the menu go back to hidden*/
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
}

#flyoutMenu2.show {
  transform: translate3d(0vw, 0, 0);
}

#flyoutMenu3.show {
  transform: translate3d(0vw, 0, 0);
}
/*Text properties on teh slide out menu*/
#flyoutMenu h2 a{
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

#flyoutMenu2 h2 a{
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

#flyoutMenu3 h2 a{
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}

/*when hovering over text*/
#flyoutMenu h2 a:hover{
  text-decoration: underline;
}

#flyoutMenu2 h2 a:hover{
  text-decoration: underline;
}

#flyoutMenu3 h2 a:hover{
  text-decoration: underline;
}
